/*************** RESET *************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h6 {
    font-size: 1rem;
    font-weight: normal;
}

ul, ol {
    list-style-position: inside;
}

/*************** FONT FACES *************/

@font-face {
    font-family: 'Young-Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

/*************** COLORS *************/

:root {
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);

    --clr-brown-800: hsl(14, 45%, 36%);

    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-800-alpha: hsla(332, 51%, 32%, 0.1);
    --clr-rose-50: hsl(330, 100%, 98%);
}

/*************** TYPOGRAPHY *************/

:root {
    --ff-primary: 'Outfit';
    --ff-secondary: 'Young-Serif';
    
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secondary);

    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2.5rem;

    --fs-body: var(--fs-400);
    --fs-heading: var(--fs-500);
    --fs-title: var(--fs-600);
}

/************* SPACING ***********/

:root {
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
}

/*************** RADIUS *************/

.rounded-300 {border-radius: var(--size-300); }
.rounded-500 {border-radius: var(--size-500); }

@media (768px < width) {
    .rounded-300-dynamic {border-radius: var(--size-300); }
    .rounded-500-dynamic {border-radius: var(--size-500); }
} 




/*************** CLASSES *************/

/* fonts */

.fw-bold {
    font-weight: var(--fw-bold);
}

.heading {
    padding-bottom: var(--size-400);
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    color: var(--clr-brown-800);
}
.heading-purple {
    padding-bottom: var(--size-400);
    font-family: var(--ff-body);
    font-weight: var(--fw-bold);
}

/* container */

.container {
    padding: 1rem 2rem; /* TODO make with vars! */
}

@media (768px < width) {
    .container-dynamic {
        padding: 2rem;
    }
}

.container-purple {
    margin: 0 2rem;
    background-color: var(--clr-rose-800-alpha);
}

.container-purple * {
    font-family: var(--ff-body);
    color: var(--clr-rose-800);
}

/* misc */

.bottom-line {
    margin: 0 var(--size-600);
    border-bottom: 2px solid var(--clr-stone-150);
}

.text-brown-bold {
    color: var(--clr-brown-800);
    font-weight: var(--fw-bold);
}

/*************** GERNERAL STYLING *************/

body {
    background-color: var(--clr-stone-100);
    font-family: var(--ff-body);
    color: var(--clr-stone-600);
}

.page-container {
    width: 100%;
    background-color: white;
}

@media (768px < width) {
    .page-container {
        max-width: 768px;
        margin: 5rem auto;
        width: 80%;
    }
}

#headerImg {
    width: 100%;
    height: 280px;
    object-fit: cover;

}

.title {
    padding-bottom: var(--size-500);
    font-family: var(--ff-heading);
    font-size: var(--fs-title);
    color: var(--crl-stone-900);
}

#instructionsList {
    list-style-type: none;
}

#instructionsList li {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: var(--size-400);
}

#instructionsList li .listmarker {
    font-weight: var(--fw-bold);
    color: var(--clr-brown-800);
}

#instructionsList li:not(:last-child) {
    margin-bottom: var(--size-400);
}

#nutritionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--size-400);
}

#nutritionTable td {
    padding-block: var(--size-400);
}